/*BASE*/

:root{
    --vermelho: #E50914;
    --preto: #141414;
    --branco: #e6e6e6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*CABEÇALHO*/

.logo{
    color: var(--vermelho);
    font-family: 'arial black';
    font-size: 40px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contas{
    margin: auto;
    display: flex;
}

.bcontas{
    background-color: rgba(256, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

nav{
    margin: auto;
}

header nav a{
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

/*FILME PRINCIPAL*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0,.50), rgba(0, 0, 0,.50)100%) ,url('/img/FundoBB.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title{
    margin-top: 15%;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .description{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
}

.filme-principal .container{
    padding: 50px;
    width: 600px;
}

.botao{
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--preto);

}

.botao i{
    margin-right: 5px;
}

/*Carrossel de filmes*/

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}